VK_GROUP_TOKEN=your_group_token_here
VK_GROUP_ID=236814060
VK_ADMIN_IDS=36201837,191060965,1322137,147713809
PD_POLICY_URL=https://www.consultant.ru/document/cons_doc_LAW_61801/
ADMIN_CONTACT_LINK=https://vk.com/id36201837
DEFAULT_STAGE_WINNERS_COUNT=1
REMINDER_INTERVAL_SEC=300
USER_MESSAGE_RATE_LIMIT_SEC=0.8
